package pages

import (
    //"github.com/degreane/warp/templates/svgs"
)

templ FlightsList() {
    <div id="app" class="flights">
        <div >
            <a href="#" >
                <img src="/static/images/travel-globe.svg" alt="Travel Globe"/>
            </a>
        </div>
    </div>
}